[/vendor/*]
php_diagnostic = off
[/vendor-bin/*]
php_diagnostic = off
[/tmp/*]
php_diagnostic = off
[\.*]
php_diagnostic = off
[*.phpt]
php_diagnostic_php2432 = off
[*]
indent_size = 4
indent_style = space